.home{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;
}
.left-side{
    flex: 4;
    width: 30%;
    position: relative;
    transition: all 0.3s;
}
.right-side{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 16;
    width: 90%;
    gap: 1.5rem;
    transition: all 0.3s;
}
.card{
    box-shadow: 0px 0px 5px #333;
    border-radius: 15px;
}