.card-content{
    padding: 10px 20px;
}
.card-actions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.card-actions a{
    color: blue;
    font-size: 1.2rem;
}
.card-actions a:hover{
    color: darkblue;
}
.heart, .cart{
    margin: 0 10px;
    padding: 3px;
    font-size: 1.5rem;
    background: transparent;
    border: none;
}