@import 'tailwindcss';

:root {
  [data-theme="light"]{
  
  /* ========================= */
  /* Light Theme */
  /* ========================= */
  
--bg: #f8f9fb;
--surface: #ffffff;
--surface-hover: #f1f3f5;

--primary: #21f1ab;
--primary-hover: #13d998;

--text: #171717;
--text-secondary: #5f6368;

--border: #e5e7eb;

--success: #22c55e;
--warning: #f59e0b;
--danger: #ef4444;
  }
  
  /* ========================= */
  /* Dark Theme */
  /* ========================= */
  
  [data-theme="dark"]{
  
  
    --bg: #171717;
    --surface: #202124;
    --surface-hover: #2a2b2d;
    
  --primary: #1a4d3c;
  --primary-hover: #1e654d;
  
  --text: #f8f9fa;
  --text-secondary: #b0b3b8;
  
  --border: #323336;
  
  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;
  }
}



body{
  background: var(--bg);
  color: var(--text);
}
.mobile-menu{
  background: var(--primary);
}
.text-primary{
  color: var(--text);
}
.text-secondary{
  color: var(--text-secondary);
}
.outline-primary{
  outline: var(--primary);
}